# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
/staticfiles/
/media/
/.env
.env.docker
.env.local

# Venv
.venv/

# Docker
postgres_data/

# VS Code
.vscode/

# Claude AI
.claude/
# OS
.DS_Store
Thumbs.db
nuL